In [ ]:
import sqlite3
import pandas as pd
import random as rd
import datetime
from datetime import datetime, timedelta, date
import numpy as np

In [ ]:
conn = sqlite3.connect('fooddelivery.db')
c = conn.cursor()

In [ ]:
c.execute("""CREATE TABLE Kurir (
        id_kurir INTEGER NOT NULL UNIQUE,
        nama_kurir VARCHAR(50) NOT NULL,
        plat_kendaraan VARCHAR(10) NOT NULL,
        PRIMARY KEY(id_kurir)
    )""")

In [ ]:
c.execute("""CREATE TABLE Menu (
        id_produk INTEGER NOT NULL UNIQUE,
        id_restoran INTEGER NOT NULL,
        nama_produk VARCHAR(50) NOT NULL,
        deskripsi VARCHAR(100),
        harga FLOAT NOT NULL,
        kategori VARCHAR(20) NOT NULL,
        jumlah INTEGER,
        PRIMARY KEY(id_produk),
        FOREIGN KEY(id_restoran) REFERENCES Restoran(id_restoran)
    )""")

In [ ]:
c.execute("""CREATE TABLE Pengguna (
        id_pengguna INTEGER NOT NULL UNIQUE,
        nama_pengguna VARCHAR(50) NOT NULL,
        no_telp INTEGER NOT NULL UNIQUE,
        email VARCHAR(30) NOT NULL UNIQUE,
        alamat VARCHAR(100) NOT NULL,
        PRIMARY KEY(id_pengguna)
    )""")

In [ ]:
c.execute("""CREATE TABLE Pengiriman (
        id_pengiriman INTEGER NOT NULL UNIQUE,
        ongkos_pengiriman FLOAT,
        waktu_pengiriman DATETIME,
        id_kurir INTEGER,
        PRIMARY KEY(id_pengiriman),
        FOREIGN KEY(id_kurir) REFERENCES Pengguna(id_kurir)
    )""")

In [ ]:
c.execute("""CREATE TABLE Pesanan (
        no_order INTEGER NOT NULL UNIQUE,
        total_harga FLOAT NOT NULL,
        waktu_pemesanan DATETIME NOT NULL,
        status VARCHAR(20) NOT NULL,
        id_pengguna INTEGER,
        id_produk INTEGER,
        id_pengiriman INTEGER,
        PRIMARY KEY(no_order),
        FOREIGN KEY(id_pengguna) REFERENCES Pengguna(id_pengguna),
        FOREIGN KEY(id_pengiriman) REFERENCES Pengiriman(id_pengiriman),
        FOREIGN KEY(id_produk) REFERENCES Menu(id_produk)
    )""")

In [ ]:
c.execute("""CREATE TABLE Restoran (
        id_restoran INTEGER NOT NULL UNIQUE,
        nama_restoran VARCHAR(50),
        alamat VARCHAR(100),
        rating FLOAT,
        kontak VARCHAR(30),
        PRIMARY KEY(id_restoran)
    )""")

In [ ]:
manykurir = [
    (10101, 'Rochmat', 'B 1234 CDE'),
    (10102, 'Agus', 'B 1357 EFG'),
    (10103, 'Rio', 'B 2468 GHI'),
    (10104, 'Budi', 'B 8247 UJK'),
    (10105, 'Yanto', 'F 9462 AKP')
]

manymenu = [
    (20201, 60601, 'Nasi Cumi Item', 'Nasi, Cumi Item, Mie, Serundeng, Peyek Udang, Sambal Pencit', 45000, 'Makanan', 100),
    (20202, 60602, 'Mie Gacoan LV1', 'Mie kenyal, Cabai, Ayam suwir, Pangsit goreng', 14500, 'Makanan', 50),
    (20203, 60603, 'Coconut Jelly Milk Tea', 'Milk tea dengan topping coconut jelly yang lembut', 21000, 'Minuman', 10),
    (20204, 60604, 'Ayam Goreng Paha', 'Nasi + Ayam Goreng + Sambal + Lalapan', 24000, 'Makanan', 36),
    (20205, 60605, 'Combo A', 'Papas pizza large, Mac n cheese, Garlic bread, 2 Lemon tea', 16000, 'Makanan', 5)
]

manypengguna = [
    (30301, 'Casia', '08123443210', 'casia01@gmail.com', 'Jl. Meruya Ilir No. 25, Jakarta Barat'),
    (30302, 'Zhafira', '087865780099', 'zhafiraa30@gmail.com', 'Jl. Ampera Raya No.11, Jakarta Selatan'),
    (30303, 'Aisha', '085866563443', 'aishazhar@gmail.com', 'Jl. Asia Afrika No. 2, Jakarta Pusat'),
    (30304, 'Calvin', '087899006756', 'calvinhar@gmail.com', 'Jl. Bougenville Blok C5, Bekasi'),
    (30305, 'Aksa', '085670093456', 'aksaputra@gmail.com', 'Jl. Kelapa Nias Blok A3, Jakarta Utara')
]

manypengiriman = [
    (40401, 20000, '35 menit', 10101),
    (40402, 17000, '30 menit', 10102),
    (40403, 10000, '15 menit', 10103),
    (40404, 19000, '20 menit', 10104),
    (40405, 12000, '12 menit', 10105)
]

manypesanan = [
    (50501, 65000, '2023-06-14 17:34:11', 'Disiapkan', 30301, 20201, 40401),
    (50502, 70000, '2023-06-14 20:21:12', 'Dikirim', 30302, 20202, 40402),
    (50503, 53000, '2023-06-14 22:52:33', 'Dikirim', 30303, 20203, 40403),
    (50504, 44000, '2023-06-15 07:18:46', 'Disiapkan', 30304, 20204, 40404),
    (50505, 39000, '2023-06-15 09:26:28', 'Dikirim', 30305, 20205, 40405)
]

manyrestoran = [
    (60601, 'Nasi Cumi Hitam Madura Pak Kris', 'Jl. H. Nawi Raya No.28, Jakarta Selatan', 4.4, '082310107778'),
    (60602, 'Mie Gacoan', 'Jl. Bintara, Kota Bekasi', 4.5, '0895414854300'),
    (60603, 'Mixue', 'Jl. Sumur Batu Raya No.14, Jakarta Pusat', 4.6, '08118160829'),
    (60604, 'Ayam Gepuk Pak Gembus', 'Jl. Meruya Ilir Raya No. 88, Jakarta Barat', 4.7, '08161998777'),
    (60605, 'Papa Rons Pizza', 'Jl. Kelapa Nias Blok HF3, Jakarta Utara', 4.3, '085810616466')
]

In [ ]:
c.executemany('INSERT INTO Kurir VALUES (?,?,?)', manykurir)
c.executemany('INSERT INTO Menu VALUES (?,?,?,?,?,?,?)', manymenu)
c.executemany('INSERT INTO Pengguna VALUES (?,?,?,?,?)', manypengguna)
c.executemany('INSERT INTO Pengiriman VALUES (?,?,?,?)', manypengiriman)
c.executemany('INSERT INTO Pesanan VALUES (?,?,?,?,?,?,?)', manypesanan)
c.executemany('INSERT INTO Restoran VALUES (?,?,?,?,?)', manyrestoran)

In [ ]:
insertkurir = 'INSERT INTO Kurir VALUES (?,?,?)'
insertmenu = 'INSERT INTO Menu VALUES (?,?,?,?,?,?,?)'
insertpengguna = 'INSERT INTO Pengguna VALUES (?,?,?,?,?)'
insertpengiriman = 'INSERT INTO Pengiriman VALUES (?,?,?,?)'
insertpesanan = 'INSERT INTO Pesanan VALUES (?,?,?,?,?,?,?)'
insertrestoran = 'INSERT INTO Restoran VALUES (?,?,?,?,?)'

In [ ]:
while True:
    print(pd.read_sql_query('SELECT * FROM Restoran', conn))
    posisi = int(input('\nApa tujuan Anda di sini? (Seller (0) / Customer (1) / Driver (2)): '))
    if posisi == 1:
        print("Apakah Anda ingin membeli Makanan/Minuman?")
        choice = int(input("Ingin membeli barang (1) / Tidak ingin membeli barang (0): "))
        if choice == 0:
            print("Terima kasih sudah melihat Makanan/Minuman di aplikasi kami!")
            break
        else:
            uid = rd.randint(30300,30399)
            print("Silakan masukkan data diri Anda!")
            uname = str(input("Masukkan nama Anda: "))
            uphone = int(input("Masukkan nomor telepon Anda: "))
            umail = str(input("Masukkan alamat email Anda: "))
            uaddress = str(input("Masukkan alamat pengiriman Anda: "))
            c.execute(insertpengguna, (uid, uname, uphone, umail, uaddress))

            resto = int(input("Masukkan id_restoran yang ingin Anda lihat menunya: "))
            print(pd.read_sql_query('SELECT * FROM Menu', conn))

            menu = int(input("Masukkan id_menu yang ingin Anda beli: "))
            qty = int(input("Masukkan jumlah yang ingin Anda beli: "))
            currentTimeDate = datetime.now()
            print("Durasi Pengiriman:\n30 menit: Rp10.000,00\n1 jam: Rp15.000,0")
            durasi = str(input("Masukkan lama pengiriman (30 menit (0) / 1 jam (1)): "))
            oid = rd.randint(50500,50599)
            if durasi == 0:
                sid = rd.randint(40400,40499)
                cid = rd.randint(10100,10199)
                c.execute(insertpengiriman, (sid, 10000, '30 menit', cid))
            else:
                sid = rd.randint(40400,40499)
                cid = rd.randint(10100,10199)
                c.execute(insertpengiriman, (sid, 15000, '1 jam', cid))
            totprice = int(input("Masukkan total biaya Anda: "))
            c.execute(insertpesanan, (oid, totprice, currentTimeDate, 'Disiapkan', uid, menu, sid))
            print("Terima kasih sudah melakukan pembelian di aplikasi Kami!")
            break
    elif posisi == 0:
        rid = rd.randint(60600,60699)
        rname = str(input("Masukkan nama Restoran Anda: "))
        raddress = str(input("Masukkan alamat Restoran Anda: "))
        rrating = float(input("Masukkan rating Restoran Anda: "))
        rphone = str(input("Masukkan nomor telepon Restoran Anda: "))
        c.execute(insertrestoran, (rid, rname, raddress, rrating, rphone))

        mid = rd.randint(20200,20299)
        mname = str(input("Masukkan nama menu yang ingin Anda jual: "))
        mdesc = str(input("Masukkan deskripsi dari menu yang ingin Anda jual: "))
        mprice = int(input("Masukkan harga dari menu yang ingin Anda jual: "))
        mcat = str(input("Masukkan kategori dari menu yang ingin Anda jual: "))
        mqty = str(input("Masukkan jumlah dari menu yang ingin Anda jual: "))
        c.execute(insertmenu, (mid, rid, mname, mdesc, mprice, mcat, mqty))

        print("Terima kasih menjual masakan Anda di aplikasi Kami!")
        break
    else:
        cid = int(input("Masukkan id_kurir Anda: "))
        print(pd.read_sql_query('SELECT * FROM Pesanan', conn))
        break

   id_restoran                    nama_restoran  \
0        60601  Nasi Cumi Hitam Madura Pak Kris
1        60602                       Mie Gacoan
2        60603                            Mixue
3        60604            Ayam Gepuk Pak Gembus
4        60605                  Papa Rons Pizza

                                       alamat  rating         kontak
0     Jl. H. Nawi Raya No.28, Jakarta Selatan     4.4   082310107778
1                    Jl. Bintara, Kota Bekasi     4.5  0895414854300
2    Jl. Sumur Batu Raya No.14, Jakarta Pusat     4.6    08118160829
3  Jl. Meruya Ilir Raya No. 88, Jakarta Barat     4.7    08161998777
4     Jl. Kelapa Nias Blok HF3, Jakarta Utara     4.3   085810616466

Apa tujuan Anda di sini? (Seller (0) / Customer (1) / Driver (2)): 0
Masukkan nama Restoran Anda: Warkop Kel. 3
Masukkan alamat Restoran Anda: Jl. Akses UI, Depok
Masukkan rating Restoran Anda: 4.6
Masukkan nomor telepon Restoran Anda: 081234567890
Masukkan nama menu yang ingin Anda jual: Intel
Masukkan deskripsi dari menu yang ingin Anda jual: Indomie + Telur
Masukkan harga dari menu yang ingin Anda jual: 10000
Masukkan kategori dari menu yang ingin Anda jual: Makanan
Masukkan jumlah dari menu yang ingin Anda jual: 20
Terima kasih menjual masakan Anda di aplikasi Kami!

In [ ]:
print(pd.read_sql_query("""SELECT Restoran.nama_restoran, Restoran.alamat, Restoran.kontak, Menu.nama_produk, Menu.deskripsi, Menu.kategori, Menu.harga
FROM Restoran JOIN Menu
on Restoran.id_restoran=Menu.id_restoran""", conn))

                     nama_restoran  \
0  Nasi Cumi Hitam Madura Pak Kris
1                       Mie Gacoan
2                            Mixue
3            Ayam Gepuk Pak Gembus
4                  Papa Rons Pizza
5                    Warkop Kel. 3

                                       alamat         kontak  \
0     Jl. H. Nawi Raya No.28, Jakarta Selatan   082310107778
1                    Jl. Bintara, Kota Bekasi  0895414854300
2    Jl. Sumur Batu Raya No.14, Jakarta Pusat    08118160829
3  Jl. Meruya Ilir Raya No. 88, Jakarta Barat    08161998777
4     Jl. Kelapa Nias Blok HF3, Jakarta Utara   085810616466
5                         Jl. Akses UI, Depok   081234567890

              nama_produk                                          deskripsi  \
0          Nasi Cumi Item  Nasi, Cumi Item, Mie, Serundeng, Peyek Udang, ...
1          Mie Gacoan LV1      Mie kenyal, Cabai, Ayam suwir, Pangsit goreng
2  Coconut Jelly Milk Tea  Milk tea dengan topping coconut jelly yang lembut
3        Ayam Goreng Paha              Nasi + Ayam Goreng + Sambal + Lalapan
4                 Combo A  Papas pizza large, Mac n cheese, Garlic bread,...
5                   Intel                                    Indomie + Telur

  kategori    harga
0  Makanan  45000.0
1  Makanan  14500.0
2  Minuman  21000.0
3  Makanan  24000.0
4  Makanan  16000.0
5  Makanan  10000.0

In [ ]:
conn.commit()
conn.close()